/* ChooseService */

.section-services {
  padding: 4rem 0 2rem 0;
}

.section-services h1 {
  color: var(--white);
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
  padding: 8.5rem 0;
  letter-spacing: 1px;
}

.service-container {
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  padding: 8px 1rem;
  opacity: 0.5;
  position: relative;
}

.service-name {
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
}

.service-container:hover {
  opacity: 1;
}

.active-service {
  opacity: 1;
}

.active-service::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  border-radius: 2px;

  position: absolute;
  bottom: -3px;
  right: 0;
  background-color: var(--secondary);
}

.search-button {
  color: var(--white);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: var(--primary);
  padding: 1.8rem 3rem;
  border-radius: 99px;
  letter-spacing: 1px;
}

/* ServiceContainer */

.services-con-container {
  box-sizing: content-box;
  max-width: 162rem;
  padding: 0 4rem;
  margin: 0 auto;
}

/*  ServiceContainer- Filter */

.filter {
  border: 1px solid #b9bccf4d;
  border-radius: 8px;
  padding: 4rem 3rem;
}

.text-filters {
  color: var(--black);
  text-transform: capitalize;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.text-clear {
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--secondary);
}

.dd-title {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  color: #687182;
  text-transform: capitalize;
}

.selected-clothes {
  font-size: 1.6rem;
  background-color: #b9bccf4d;
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 0.8rem;
  position: relative;
  color: var(--primary);

  display: flex;
  align-items: center;
  gap: 1rem;
}

/*  ServiceContainer- SelectClothes */

.select-clothes-container {
  border: 1px solid #b9bccf4d;
  border-radius: 8px;
  padding: 4rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.service-title {
  font-size: 2rem;
  line-height: normal;
  color: var(--black);
  font-weight: 600;
}

.category-tags {
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
  color: #b9bccf;
  cursor: pointer;

  border: 1.2px solid #b9bccf;
  border-radius: 6px;
  transition: all 0.3s;
}

.category-tags:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.active-tag {
  color: var(--secondary);
  border-color: var(--secondary);
}

.cat-item-container {
  background-color: #f7f8fd;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1.2rem;
}

.cat-item-name {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--black);
}

.cat-item-price {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.add-btn {
  display: inline-block;
  border: 0.5px solid var(--primary);
  border-radius: 999px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--secondary);
  padding: 1.2rem 2.78rem;
}

.info-login-container {
  width: 26rem;
  background-color: white;
  border-radius: 8px;
  padding: 2.8rem;

  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

/*  ServiceContainer - Cart */

.card-container {
  border: 1px solid #b9bccf4d;
  border-radius: 8px;
}

/* filter for categories */

.search-container {
  display: inline-block;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.cateory-option {
  width: 100%;
  text-align: left;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.cateory-option:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 100em) {
  .section-services h1 {
    font-size: 4.8rem;
    line-height: 1.33;
    padding: 9.5rem 0 11.5rem 0;
    letter-spacing: 0.8px;
  }

  .service-container {
    padding: 0.6rem 0.8rem;
    border-bottom-width: 2.5px;
  }

  .active-service::before {
    bottom: -2.5px;
    height: 2.5px;
  }

  .service-name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .search-button {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1.2rem 2.4rem;
    letter-spacing: normal;
  }

  .services-con-container {
    padding: 0 12rem;
  }

  .filter {
    padding: 3.5rem 2.5rem;
  }

  .text-filters {
    font-size: 1.6rem;
  }

  .text-clear {
    font-size: 1.4rem;
  }

  .selected-clothes {
    font-size: 1.4rem;
    padding: 0.75rem;
    border-radius: 0.6rem;
    gap: 0.75rem;
  }

  .dd-title {
    font-size: 1.3rem;
  }

  .select-clothes-container {
    padding: 3.5rem 2.5rem;
    gap: 3.5rem;
  }

  .service-title {
    font-size: 1.8rem;
  }

  .category-tags {
    padding: 1.3rem 2.6rem;
    font-size: 1.4rem;
    border-width: 1px;
    border-radius: 5px;
  }

  .cat-item-container {
    padding: 1rem;
    border-radius: 0.75rem;
  }

  .cat-item-name {
    font-size: 1.5rem;
  }

  .cat-item-price {
    font-size: 1.3rem;
  }

  .add-btn {
    font-size: 1.4rem;
    line-height: 1;
    padding: 1rem 2.25rem;
  }
}

@media only screen and (max-width: 90em) {
  .section-services h1 {
    font-size: 4.2rem;
    padding: 8.5rem 0 10.5rem 0;
  }

  .service-name {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .service-container {
    padding: 0.5rem 0.7rem;
    border-bottom-width: 2px;
  }

  .active-service::before {
    bottom: -2px;
    height: 2px;
  }

  .search-button {
    font-size: 1.2rem;
    padding: 1.15rem 2.2rem;
    letter-spacing: normal;
  }

  .filter {
    border-radius: 5px;
    padding: 3rem 2rem;
  }

  .text-filters {
    font-size: 1.5rem;
  }

  .text-clear {
    font-size: 1.3rem;
  }

  .dd-title {
    font-size: 1.1rem;
  }

  .select-clothes-container {
    border-radius: 5px;
    padding: 3rem 2rem;
    gap: 2.5rem;
  }

  .service-title {
    font-size: 1.6rem;
  }

  .category-tags {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 3px;
  }

  .cat-item-container {
    padding: 0.75rem;
    border-radius: 0.5rem;
  }

  .cat-item-name {
    font-size: 1.4rem;
  }

  .cat-item-price {
    font-size: 1.2rem;
  }

  .add-btn {
    font-size: 1.2rem;
    padding: 0.9rem 1.8rem;
  }

  .card-container {
    border-radius: 5px;
  }

  .cart-title {
    font-size: 1.6rem;
    padding: 2.5rem 2rem;
  }
}

@media only screen and (max-width: 83.75em) {
  .services-con-container {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 80em) {

  .services-con-container {
    padding: 0 9rem;
  }

  .section-services h1 {
    font-size: 3.6rem;
    padding: 6.5rem 0 9.5rem 0;
    letter-spacing: 0.6px;
  }
}

@media only screen and (max-width: 71.25em) {

  .services-con-container {
    padding: 0 8rem;
  }

  .section-services {
    padding: 2.5rem 0 2rem;
  }

  .section-services h1 {
    font-size: 3.4rem;
    padding: 6rem 0 9rem 0;
    letter-spacing: 0.6px;
  }

  .service-container {
    padding: 0.5rem;
  }

  .service-name {
    font-size: 1.2rem;
  }

  .search-button {
    font-size: 1rem;
    padding: 0.95rem 1.5rem;
    margin: -2px 0 -2px 0;
  }
}

@media only screen and (max-width: 64em) {
}

@media only screen and (max-width: 60.875em) {
  .section-services {
    padding: 2rem 0;
  }

  .section-services h1 {
    font-size: 2.8rem;
    padding: 5rem 0 7rem 0;
    letter-spacing: 0.25px;
  }

  .service-container {
    padding: 0.25rem;
  }

  .service-name {
    font-size: 1.1rem;
  }

  .search-button {
    margin: 0;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    margin: -2.5px 0;
  }
}

@media only screen and (max-width: 55em) {
  .section-services {
    padding: 1.5rem 0;
  }

  .section-services h1 {
    font-size: 2.4rem;
    padding: 4.5rem 0 6.5rem 0;
  }

  .service-name {
    font-size: 1rem;
  }

  .service-container {
    border-bottom-width: 1.5px;
  }

  .active-service::before {
    bottom: -1.5px;
    height: 1.5px;
  }

  .section-services .secondary-container {
    padding: 0;
  }
}

@media only screen and (max-width: 38.4375em) {
  .section-services .secondary-container {
    padding: 0 1rem;
  }

  .section-services h1 {
    font-size: 2rem;
    padding: 4rem 0 6rem 0;
  }

  .service-name {
    font-size: 0.8rem;
  }

  .service-container {
    border-bottom-width: 1px;
  }

  .active-service::before {
    bottom: -1px;
    height: 1px;
  }

  .search-button {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
  }
}

@media only screen and (max-width: 27.5em) {
}

@media only screen and (max-width: 20em) {
}
