.section-cart {
  padding: 4rem 0;
}

/* Main  */

.cart-table {
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #b9bccf4d;
}

.cart-table thead {
  background-color: #f7f8fd;
}

.cart-table th {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  color: #687182;
  text-transform: capitalize;
  padding: 2.1rem;
}

.cart-table tbody tr {
  border: 1px solid #b9bccf4d;
}

.cart-table tbody tr td {
  padding: 2rem;
}

/* Addaddress */

.cart-sub-title {
  font-weight: 600;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.address-btn {
  border-radius: 999px;
  border: 1.5px solid var(--primary);
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.address-btn span {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--primary);
}

.bg-filter {
  backdrop-filter: blur(10 px);
}

.del-edit-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.three-dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.three-dots span {
  display: inline-block;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background-color: var(--black);
}

.del-edit-menu:hover .shortcut {
  display: block;
}

.shortcut {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;

  background-color: white;
  font-size: 1.4rem;
  border-radius: 0.2rem;
}

.shortcut li {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
.shortcut li:last-child {
  margin-top: 0.5rem;
}

.shortcut li:hover {
  color: rgb(138, 43, 226, 0.8);
}

/* Order Summary */

.apply-btn {
  background-color: #b9bccf;
  font-size: 1.8rem;
  line-height: 2rem;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 999px;
}
