.section-cart {
  padding: 4rem 0;
}

/* Main  */

.cart-table {
  border-radius: 6px;
  border: 1px solid #b9bccf4d;
  overflow: hidden;
}

.cart-table thead tr,
.cart-table tbody tr {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;
}

.cart-table thead tr th {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #687182;
  text-transform: capitalize;
  padding: 2.1rem;
  text-align: center;
}

.cart-table tbody tr td {
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 2rem;
  color: var(--black);
}

.items-detail-cell h3 {
  font-size: 2rem;
  color: var(--black);
  font-weight: 600;
}

.items-detail-cell p {
  font-size: 1.7rem;
  color: var(--black);
}

.cart-table tbody tr {
  border: 1px solid #b9bccf4d;
  border-top: none;
}

.cart-table thead tr {
  border: 1px solid #b9bccf4d;
}

.description-cell {
  padding: 1rem 2rem 2rem 2rem !important;
}

.description-cell textarea {
  width: 100%;
  padding: 1rem 10rem 1rem 1.5rem;
  border: 1px solid rgb(104, 113, 130, 0.8);
  border-radius: 4px;
  font-size: 1.6rem;
}

.description-cell textarea:focus {
  border-color: rgba(137, 43, 226, 0.8);
  outline: none;
}

.save-description {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1.6rem;

  position: absolute;
  top: 47%;
  right: 2rem;
  transform: translateY(-50%);
}

.small-spinner {
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: red white;
}

/* Addaddress */

.cart-sub-title {
  font-weight: 600;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.address-btn {
  border-radius: 999px;
  border: 1.5px solid var(--primary);
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.address-btn span {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--primary);
}

.bg-filter {
  backdrop-filter: blur(10 px);
}

.del-edit-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.three-dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.three-dots span {
  display: inline-block;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background-color: var(--black);
}

.del-edit-menu:hover .shortcut {
  display: block;
}

.shortcut {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;

  background-color: white;
  font-size: 1.4rem;
  border-radius: 0.2rem;
}

.shortcut li {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
.shortcut li:last-child {
  margin-top: 0.5rem;
}

.shortcut li:hover {
  color: rgb(138, 43, 226, 0.8);
}

/* Order Summary */

.clear-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.apply-btn {
  background-color: var(--primary);
  font-size: 1.8rem;
  line-height: 2rem;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 999px;
}

.disabled-apply-btn {
  background-color: #b9bccf;
}

.checkout-btn {
  display: inline-block;
  background-color: var(--primary);
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: var(--white);
  text-transform: capitalize;
  padding: 1.25rem 1.8rem;
  text-align: center;
  border-radius: 999px;
}

.spinner {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary) white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky-summary {
  position: sticky;
  top: 1.5rem;
  align-self: start;
}


.applied-coupon {
  font-size: 1.6rem;
  line-height: normal;
  color: var(--black);
  border-radius: 4px;
  padding: 0 1rem;
  font-weight: 600;
}


