.section-cart {
  padding: 4rem 0;
}

.cart-container {
  padding: 0 15rem;
  max-width: 192rem;
  margin: 0 auto;
}

/* Main  */

.cart-table {
  width: 100%;
}

.cart-table thead tr,
.cart-table tbody tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.cart-table thead tr th {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 400;
  color: #687182;
  text-transform: capitalize;
  padding: 1.4rem;
  text-align: center;
}

.cart-table tbody tr td {
  font-size: 1.8rem;
  line-height: 1.25;
  padding: 1.6rem 1.4rem;
  color: var(--black);
}

.items-detail-cell h3 {
  font-size: 2rem;
  color: var(--black);
  font-weight: 600;
}

.items-detail-cell p {
  font-size: 1.7rem;
  color: var(--black);
}

.cart-table thead tr {
  border-bottom: 1px solid #b9bccf4d;
}

.cart-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #b9bccf4d;
}

.description-cell {
  padding: 1rem 2rem 2rem 2rem !important;
}

.description-cell textarea {
  width: 100%;
  padding: 1rem 10rem 1rem 1.5rem;
  border: 1px solid rgb(104, 113, 130, 0.8);
  border-radius: 4px;
  font-size: 1.6rem;
}

.description-cell textarea:focus {
  border-color: rgba(137, 43, 226, 0.8);
  outline: none;
}

.save-description {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1.6rem;

  position: absolute;
  top: 47%;
  right: 2rem;
  transform: translateY(-50%);
}

.small-spinner {
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: red white;
}

/* Addaddress */

.cart-sub-title {
  font-weight: 600;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.address-btn {
  border-radius: 999px;
  border: 1.5px solid var(--primary);
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.address-btn span {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--primary);
}

.bg-filter {
  backdrop-filter: blur(10 px);
}

.del-edit-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.three-dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.three-dots span {
  display: inline-block;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background-color: var(--black);
}

.del-edit-menu:hover .shortcut {
  display: block;
}

.shortcut {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;

  background-color: white;
  font-size: 1.4rem;
  border-radius: 0.2rem;
}

.shortcut li {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
}
.shortcut li:last-child {
  margin-top: 0.5rem;
}

.shortcut li:hover {
  color: rgb(138, 43, 226, 0.8);
}

/* Order Summary */

.clear-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.apply-btn {
  background-color: var(--primary);
  font-size: 1.8rem;
  line-height: 2rem;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 999px;
}

.disabled-apply-btn {
  background-color: #b9bccf;
}

.checkout-btn {
  display: inline-block;
  background-color: var(--primary);
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: var(--white);
  text-transform: capitalize;
  padding: 1.25rem 1.8rem;
  text-align: center;
  border-radius: 999px;
}

.spinner {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary) white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky-summary {
  position: sticky;
  top: 1.5rem;
  align-self: start;
}

.applied-coupon {
  font-size: 1.6rem;
  line-height: normal;
  color: var(--black);
  border-radius: 4px;
  padding: 0 1rem;
  font-weight: 600;
}

/* View Coupons */

.all-coupon-container {
  background-color: rgb(145, 229, 219);
  background-color: white;
  border-radius: 0.75rem;
  padding: 2rem;
}

.all-coupon-container h3 {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary);
}

.coupon-table thead tr,
.coupon-table tbody tr {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.new-apply-btn {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2.8rem;
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  border-radius: 99px;
  padding: 0.4rem 1.5rem;
}

/* new btn for express delivery charge */

.edc-btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  margin: -5px 0;
  border-radius: 2.5px;
}

/* radio button */

.styled-radio {
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 99px;
  flex-shrink: 0;
  border: 0;
  outline: 6px solid #b9bccf;
  outline-offset: 0;
}

.styled-radio:focus {
  outline-color: var(--secondary);
}

@media only screen and (max-width: 100em) {
  .cart-container {
    padding: 0 7rem;
  }

  .cart-table thead tr,
  .cart-table tbody tr {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  }

  .cart-table thead tr th {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 1.2rem;
    text-transform: capitalize;
  }

  .cart-table tbody tr td {
    font-size: 1.6rem;
    padding: 1.4rem 1.2rem;
  }

  .items-detail-cell h3 {
    font-size: 1.8rem;
  }

  .items-detail-cell p {
    font-size: 1.6rem;
  }

  .cart-sub-title {
    font-size: 2rem;
    line-height: 1.25;
  }

  .address-btn {
    border-width: 1px;
    padding: 1.25rem 1.5rem;
  }

  .address-btn span {
    font-size: 1.5rem;
    line-height: 1;
  }

  .apply-btn {
    font-size: 1.6rem;
    line-height: 1;
    padding: 1.5rem 3rem;
  }

  .edc-btn {
    font-size: 1.4rem;
  }

  .checkout-btn {
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 1.25rem 1.5rem;
  }

  .styled-radio {
    height: 1.25rem;
    width: 1.25rem;
  }

  .shortcut {
    font-size: 1.2rem;
  }

  .clear-btn {
    height: 2rem;
    width: 2rem;
  }

  .all-coupon-container {
    border-radius: 0.5rem;
    padding: 1.5rem;
  }

  .all-coupon-container h3 {
    font-size: 2rem;
  }

  .new-apply-btn {
    font-size: 1.5rem;
    line-height: 2.6rem;
    padding: 0.3rem 1.25rem;
  }

  .applied-coupon {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 90em) {
  .section-cart {
    padding: 3.5rem 0;
  }

  .cart-container {
    padding: 0 6.5rem;
  }

  .cart-sub-title {
    font-size: 1.7rem;
  }

  .cart-table thead tr th {
    font-size: 1.4rem;
  }

  .cart-table tbody tr td {
    font-size: 1.4rem;
    padding: 1.2rem 1rem;
  }

  .items-detail-cell h3 {
    font-size: 1.6rem;
  }

  .items-detail-cell p {
    font-size: 1.4rem;
  }

  .description-cell {
    padding: 0.5rem 1rem 1rem 1rem !important;
  }

  .description-cell textarea {
    padding: 0.75rem 8rem 0.75rem 1rem;
    border: 1px solid rgb(104, 113, 130, 0.8);
    border-radius: 4px;
    font-size: 1.4rem;
  }

  .save-description {
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    font-size: 1.4rem;
    right: 1.5rem;
  }

  .address-btn {
    padding: 1rem 1.25rem;
  }

  .address-btn span {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .styled-radio {
    height: 1rem;
    width: 1rem;
    outline: 5px solid #b9bccf;
  }

  .edc-btn {
    font-size: 1.4rem;
  }

  .del-edit-menu {
    top: 1.5rem;
    right: 1.5rem;
  }

  .three-dots span {
    height: 3px;
    width: 3px;
  }

  .cart-cart-title {
    padding: 2rem 1.5rem;
    font-size: 1.7rem;
  }

  .apply-btn {
    font-size: 1.4rem;
    padding: 1.25rem 2.5rem;
  }

  .edc-btn {
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
  }

  .checkout-btn {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.1rem;
  }

  .all-coupon-container h3 {
    font-size: 1.7rem;
    line-height: 1.5;
  }

  .new-apply-btn {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
  }

  .small-spinner {
    height: 1.5rem;
    width: 1.5rem;
    border-width: 2px;
  }

  .applied-coupon {
    font-size: 1.4rem;
    padding: 0 0.75rem;
  }
}

@media only screen and (max-width: 83.75em) {
  .section-cart {
    padding: 3rem 0;
  }

  .cart-container {
    padding: 0 5rem;
  }

  .items-detail-cell h3 {
    font-size: 1.5rem;
  }

  .items-detail-cell p {
    font-size: 1.3rem;
  }

  .cart-sub-title {
    font-size: 1.6rem;
  }

  .address-btn {
    padding: 1rem 1.25rem;
  }
}

@media only screen and (max-width: 80em) {
  .description-cell textarea {
    font-size: 1.3rem;
  }

  .save-description {
    font-size: 1.2rem;
  }

  .cart-table thead tr th,
  .cart-table tbody tr td {
    padding: 1rem;
    font-size: 1.3rem;
  }

  .items-detail-cell h3 {
    font-size: 1.4rem;
  }

  .items-detail-cell p {
    font-size: 1.2rem;
  }

  .cart-sub-title {
    font-size: 1.5rem;
  }

  .address-btn {
    border-width: 1px;
  }

  .address-btn span {
    font-size: 1.2rem;
  }

  .cart-cart-title {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  .apply-btn {
    font-size: 1.3rem;
    padding: 1.2rem 2.4rem;
  }

  .clear-btn {
    height: 1.75rem;
    width: 1.75rem;
  }

  .applied-coupon {
    font-size: 1.3rem;
    padding: 0 0.5rem;
  }

  .edc-btn {
    font-size: 1.1rem;
  }

  .checkout-btn {
    font-size: 1.3rem;
    padding: 1rem;
  }

  .all-coupon-container h3 {
    font-size: 1.5rem;
  }

  .new-apply-btn {
    font-size: 1.2rem;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .cart-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 64em) {
  .section-cart {
    padding: 2.5rem 0;
  }

  .cart-container {
    padding: 0 3.5rem;
  }

  .cart-table thead tr th,
  .cart-table tbody tr td {
    font-size: 1.2rem;
    padding: 0.75rem;
  }

  .cart-cart-title {
    padding: 1.5rem 1rem;
  }

  .cart-summary p {
    font-size: 1.3rem;
  }

  .cart-summary h5 {
    font-size: 1.4rem;
  }

  .checkout-btn {
    font-size: 1.2rem;
    padding: 0.9rem;
  }

  .applied-coupon {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 60.875em) {
  .section-cart {
    padding: 3rem 0;
  }
  .cart-container {
    padding: 0 6rem;
  }

  .cart-table thead tr th,
  .cart-table tbody tr td {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.25rem;
  }

  .items-detail-cell h3 {
    font-size: 1.5rem;
  }

  .items-detail-cell p {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .save-description {
    font-size: 1.3rem;
  }

  .description-cell textarea {
    font-size: 1.4rem;
  }

  .cart-sub-title {
    font-size: 1.6rem;
  }

  .address-btn span {
    font-size: 1.3rem;
  }

  .cart-cart-title {
    font-size: 1.6rem;
    padding: 1.5rem;
  }

  .cart-summary p {
    font-size: 1.4rem;
  }

  .edc-btn {
    font-size: 1.2rem;
  }

  .checkout-btn {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .all-coupon-container h3 {
    font-size: 1.6rem;
  }

  .new-apply-btn {
    font-size: 1.3rem;
    padding: 0.75rem 1rem;
  }
}

@media only screen and (max-width: 55em) {
  .section-cart {
    padding: 2.5rem 0;
  }

  .cart-container {
    padding: 0 3rem;
  }

  .cart-table thead tr,
  .cart-table tbody tr {
    grid-template-columns: 1.75fr 10rem 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 38.4375em) {
  .cart-container {
    padding: 0 2.5rem;
  }

  .cart-table thead tr th,
  .cart-table tbody tr td {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .items-detail-cell h3 {
    font-size: 1.4rem;
  }

  .items-detail-cell p {
    font-size: 1.2rem;
  }

  .new-add-btn {
    font-size: 1rem;
  }

  .new-add-btn .indec-icon {
    height: 1rem;
    width: 1rem;
  }
}

@media only screen and (max-width: 27.5em) {
}

@media only screen and (max-width: 20em) {
}
