.faq-main-container {
  max-width: 128rem;
  width: 128rem;
  margin: 0 auto;
}

.faq-heading {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  display: inline-block;
  padding: 2rem 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-sub-heading {
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: var(--primary);
  font-weight: 700;
  text-align: center;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  display: inline-block;
  padding: 2rem 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-question {
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--primary);
  font-weight: 500;
  padding: 0.5rem 0;
}

.faq-ans {
  font-size: 1.8rem;
  line-height: 3rem;
  color: rgb(104, 113, 130);
  font-weight: 500;
  padding: 0.5rem 0;
}

.MuiAccordionSummary-content {
  margin: 1rem 0;
}
