.inner-sub-title {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: var(--primary);
  margin: 1rem 0 2rem;
}

@media only screen and (max-width: 100em) {
  .inner-sub-title {
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.4px;
    margin: 0.75rem 0 1.5rem;
  }
}

@media only screen and (max-width: 90em) {
  .inner-sub-title {
    font-size: 2rem;
    letter-spacing: 0.2px;
    margin: 0.5rem 0 1rem;
  }
}

@media only screen and (max-width: 80em) {
  .inner-sub-title {
    font-size: 1.8rem;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 71.25em) {
  .inner-sub-title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 60.875em) {
  .inner-sub-title {
    font-size: 1.4rem;
  }
}
