.section-privacy {
  padding: 4rem 0 6rem 0;
}

.privacy-heading {
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2rem 0;
  display: inline-block;
}

.privacy-subhead {
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;

  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.desc-list-item p {
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 500;
  color: rgb(104, 113, 130);
  letter-spacing: 0.5px;
}

.desc-list-item .desc-title {
  color: var(--black);
  font-weight: 600;
}

.desc-list-item p span,
.desc-list-item li span {
  color: #393b43;
  color: var(--secondary);
  color: #f241a6;
  color: var(--primary);
}

.desc-list-item li {
  padding-left: 3rem;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}

.desc-list-item li::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 1.8rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ffb81f;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 2px;
}
