.desc-list-item p {
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 500;
  color: rgb(104, 113, 130);
  letter-spacing: 0.5px;
}

.desc-list-item .desc-title {
  color: var(--black);
  font-weight: 500;
}

.desc-list-item p span,
.desc-list-item li span {
  color: var(--primary);
  font-weight: 500;
}

.desc-list-item li {
  padding-left: 3.5rem;
  letter-spacing: 0.4px;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}

.desc-list-item li::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ffb81f;
  border-radius: 50%;
  position: absolute;
  top: 9%;
  left: 2px;
}
