/* StatsDisplay */

.pr-none {
  padding-right: 0;
  padding-bottom: 11.1rem;
}

.status-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* History */

.year {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4rem, -50%);
}

.timeline-text {
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke: 2px var(--black);
  letter-spacing: 0.2rem;
}

.active-time {
  color: var(--secondary);
  -webkit-text-stroke: 0px;
  position: relative;
}

.active-time::before {
  content: "";
  display: inline-block;
  height: 6rem;
  width: 1px;
  background-color: red;

  position: absolute;
  top: -125%;
  left: 49%;
}
