.section-padding {
  padding: 8rem 0;
}

.content-container {
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.banner-heading {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 700;
  color: var(--black);
}

.contact-form-container {
  border-radius: 2rem;
  background-color: #f7f8fd;
  padding: 7rem;
  position: relative;
}

.contact-form-container::before {
  content: "";
  display: inline-block;
  height: 30rem;
  width: 30rem;
  background-color: #e5ecff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -15%);
  z-index: -1;
}

.contact-form input,
.contact-form textarea {
  padding: 2.25rem 1.5rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border: 2px solid #eff3ff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: rgba(51, 51, 51, 0.3);
}

.send-btn {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.8rem 2.3rem;
  border-radius: 999px;
}

.send-btn-disabled {
  background-color: #b9bccf;
}

@media only screen and (max-width: 100em) {
  .section-padding {
    padding: 7rem 0;
  }

  .content-container {
    padding: 0 7rem;
  }

  .banner-heading {
    font-size: 4.8rem;
    line-height: normal;
  }

  .contact-form-container {
    border-radius: 1rem;
    padding: 6rem 5rem;
  }

  .contact-form-container::before {
    height: 25rem;
    width: 25rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.75rem 1.5rem;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .send-btn {
    font-size: 1.5rem;
    padding: 1.5rem 1.7rem;
  }
}

@media only screen and (max-width: 90em) {
  .section-padding {
    padding: 6rem 0;
  }

  .content-container {
    padding: 0 6.5rem;
  }

  .banner-heading {
    font-size: 4.2rem;
    line-height: normal;
  }

  .contact-form-container {
    border-radius: 0.9rem;
    padding: 5rem 4.5rem;
  }

  .contact-form-container::before {
    height: 20rem;
    width: 20rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.45rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border-width: 1px;
    border-radius: 0.5rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .send-btn {
    padding: 1.3rem 1.5rem;
  }
}

@media only screen and (max-width: 83.75em) {
}

@media only screen and (max-width: 80em) {
  .section-padding {
    padding: 4.5rem 0;
  }

  .content-container {
    padding: 0 5rem;
  }

  .banner-heading {
    font-size: 3.6rem;
  }

  .contact-form-container {
    border-radius: 0.6rem;
    padding: 4rem 3.5rem;
  }

  .contact-form-container::before {
    height: 18rem;
    width: 18rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.25rem 1.1rem;
    border-radius: 0.4rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .section-padding {
    padding: 3.5rem 0;
  }

  .content-container {
    padding: 0 4rem;
  }

  .banner-heading {
    font-size: 3.2rem;
  }

  .contact-form-container {
    padding: 4rem 3.5rem;
  }

  .contact-form-container::before {
    height: 16rem;
    width: 16rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.2rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .send-btn {
    font-size: 1.4rem;
    padding: 1.1rem 1.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .section-padding {
    padding: 4.5rem 0;
  }

  .content-container {
    padding: 0 4rem;
  }

  .banner-heading {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 60.875em) {
  .section-padding {
    padding: 3.5rem 0;
  }

  .banner-heading {
    font-size: 2.4rem;
  }

  .contact-form-container::before {
    height: 13rem;
    width: 13rem;
  }
}

@media only screen and (max-width: 55em) {
  .section-padding {
    padding: 3rem 0;
  }

  .content-container {
    padding: 0 3rem;
  }

  .banner-heading {
    font-size: 2.2rem;
  }

  .contact-form-container {
    padding: 3.5rem 3rem;
  }

  .contact-form-container::before {
    height: 10rem;
    width: 10rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.2rem 0.8rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .send-btn {
    font-size: 1.2rem;
    padding: 1.2rem 1.4rem;
  }
}

@media only screen and (max-width: 38.4375em) {
  .section-padding {
    padding: 3rem 0;
  }

  .content-container {
    padding: 0 2.5rem;
  }

  .banner-heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 27.5em) {
}

@media only screen and (max-width: 20em) {
}
