.dashboard-container {
  width: 100%;
  max-width: 144rem;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.dash-logo {
  display: inline-block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid #b9bccf4d;
}

.mobile-dash-logo {
  display: none;
}

.cus-info-container,
.order-list-container,
.common-container {
  border-radius: 7.5px;
  background-color: white;
  border: 1px solid #b9bccf4d;
}

/* Dashboard - Navbar */

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  z-index: 1;
  background-color: var(--secondary);

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(48%, -30%);
}

/* Dashboard - Sidebar  */

.dash-sidebar li {
  display: inline-block;
  list-style: none;
  padding: 0 4rem 0 3rem;
}

.dash-icons-container > * {
  display: inline-block;
  height: 2.6rem;
  width: 2.6rem;
  fill: #b9bccf;
  transition: all 0.2s;
}

.dash-sidebar li span {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #b9bccf;
  transition: all 0.1s;
  font-weight: 500;
}

.dash-nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  transition: all 0.2s;
}

.dash-nav-link:hover .dash-icons-container > * {
  fill: var(--primary);
}

.dash-nav-link:hover > span {
  color: var(--primary);
}

.active-icons-clr > * {
  fill: var(--primary) !important;
}

.active-label {
  color: var(--primary) !important;
}

.active-dash-link {
  position: relative;
  transition: all 0.3s;
}

.active-dash-link::before {
  content: "";
  display: inline-block;
  height: 125%;
  width: 6px;
  background-color: var(--secondary);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Dashboard -  Home */

.status-card {
  flex-basis: 32%;
  border-radius: 6px;
  background-color: white;
  padding: 1.5rem;
}

.card-label {
  color: #687182;
  font-size: 1.5rem;
  line-height: 1.1;
}

.card-price {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 500;
}

.booking-title {
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--primary);
  font-weight: 600;
}

.main-orders-container {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #b9bccf4d;
  overflow: hidden;
}

.orders-table-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: auto;
}

.orders-table {
  width: 100%;
  text-align: center;
  table-layout: auto;
  table-layout: auto;
}

.orders-table thead tr,
.orders-table tbody tr {
  display: grid;
  grid-template-columns: 12rem 18rem 15rem 12rem 12rem 12rem 15rem 7rem 7rem 7rem;
}

.orders-table thead tr {
  padding: 5px 0;
}

.orders-table thead th {
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  color: #676788;
  font-weight: 600;
  background-color: white;
  border-bottom: 1px solid #b9bccf4d;
}

.orders-table tbody td {
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  color: var(--black);
  font-weight: normal;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f7f8fd;
}

.updown-icon {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  fill: #b9bccf;
}

.current-page-num {
  font-size: 1.4rem;
  line-height: 1;
  color: #676788;
  padding: 2.2rem;
}

.pagination-btn {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  border: 1px solid #b9bccf4d;
  text-align: center;
  border-radius: 8px;
}

.page-icon {
  display: inline-block;
  fill: #676788;
}

.page-icon-light {
  display: inline-block;
  fill: lightgray;
}

.page-num {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #676788;
  font-weight: 500;
}

.active-page {
  border-color: var(--primary);
  background-color: var(--primary);
}

.active-page .page-num {
  color: white;
}

.active-page .page-icon {
  fill: white;
}
.active-page .page-icon-light {
  fill: white;
}

.border-transparent {
  border-color: transparent;
}

.info-label {
  color: #676788;
  display: inline-block;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.info-ans {
  color: var(--black);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.address {
  width: 100%;
}

/* Dashboard - Profile */

.dash-section-head {
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.cus-detail-container {
  background-color: white;
  border: 1px solid #b9bccf4d;
  border-radius: 1rem;
}

.profile-img-container {
  position: relative;
  display: inline-block;
  height: 12rem;
  width: 12rem;
}

.edit-profile-img {
  height: 3.6rem;
  width: 3.6rem;
  background-color: var(--secondary);
  border-radius: 50%;

  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-detail .readonly-input {
  color: rgb(160, 163, 187) !important;
  cursor: not-allowed;
  background-color: rgba(211, 211, 211, 0.1);
}

.user-detail label {
  align-self: flex-start;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #687182;
  text-transform: capitalize;
  font-weight: normal;
}

.user-detail input,
.user-detail textarea {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: var(--black);
  border-radius: 4px;
  padding: 1.1rem 1.6rem;
}

.update-btn {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1.4rem 3rem;
  border-radius: 999px;
}

/* Dashboard - price list view */

.price-list-table-container {
  max-width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e3ec;
}

.allow-x-scroll {
  overflow-x: auto;
  display: block;
  scrollbar-width: thin;
}

.price-list-table {
  width: 100%;
  max-width: 100%;
  display: table;
  cursor: default;
  text-align: center;
  border-collapse: collapse;
}

.price-list-table th {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
  color: #676788;
  padding: 1.2rem;
}

.price-list-table td {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  color: var(--black);
}

.price-list-table th,
.price-list-table td {
  border: 1px solid #e0e3ec;
}

.pagination-column td {
  padding: 0;
}

.searc-input {
  display: inline-block;
  width: 24rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 4px;
  padding: 1.2rem 4.5rem 1.2rem 1.2rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.search-input-container {
  display: inline-block;
}

.rpp-label {
  font-size: 1.4rem;
  line-height: 1;
  color: #676788;
  font-weight: 500;
}

.rpp-dropdown {
  font-size: 1.4rem;
  line-height: 1;
  color: #676788;
  font-weight: 500;
  border: 1px solid #676788;
  border-radius: 4px;
  padding: 2px;
}

.rpp-dropdown:focus {
  outline: none;
}

.filled-ud-arrow {
  fill: #676788;
}

.pad-0 {
  padding: 0 !important;
}

/* Dashboard - write a review */

.rating-star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.star {
  display: inline-block;
  height: 4.6rem;
  width: 4.6rem;
}

.submit-review {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 999px;
}

.order-status-label-1 {
  background-color: #fef7e7;
  color: #f2b413;
}

.order-status-label-2,
.order-status-label-3 {
  background-color: #faeee7;
  color: #cc5511;
}

.order-status-label-0 {
  background-color: #e8e9ef;
  color: var(--primary);
}

.order-status-label-9 {
  background-color: #ebf8fb;
  color: #39b8d3;
}

.order-status-label-10 {
  background-color: #ebfbf1;
  color: #39d377;
}

.order-status-label-11 {
  background-color: rgb(245, 238, 238);
  color: rgba(77, 77, 235, 0.787);
}

.order-status-label-12 {
  background-color: rgba(255, 0, 0, 0.1);
  color: var(--secondary);
}

.dashboard-menu-container {
  display: none;
  min-width: 12.5rem;
  padding-top: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
}

.dashboard-avatar-menu {
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid #b9bccf4d;
  padding: 0.25rem 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.dashboard-avatar-menu::before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;

  position: absolute;
  top: -10%;
  right: 1.5rem;
  transform: rotate(45deg);
  border-radius: 1px;
  z-index: -999;
}

.dash-menu-container a {
  font-size: 1.6rem;
  color: var(--black);
  padding: 0.5rem 1.5rem;
  transition: all 0.3s;

  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.dash-menu-container a span {
  font-size: 1.6rem;
  color: #676788;
  color: var(--black);
  font-weight: 500;
  text-transform: capitalize;
}

.dash-menu-container a:hover {
  background-color: rgba(103, 103, 136, 0.2);
}

/* Saved Addresses */

.addresses-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
  align-items: start;
}

.add-btn {
  border-radius: 999px;
  border: 1px solid var(--primary);
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-btn span {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  color: var(--primary);
}

@media only screen and (max-width: 83.75em) {
  .dashboard-container {
    grid-template-columns: 25rem 1fr;
  }

  .cart-item {
    height: 2.2rem;
    width: 2.2rem;
    border-width: 0.75px;
    font-size: 1.2rem;
    line-height: 1;
    transform: translate(45%, -25%);
  }

  .dash-sidebar li {
    padding: 0 0 0 2.5rem;
  }

  .dash-nav-link {
    gap: 1.5rem;
  }

  .dash-icons-container > * {
    height: 2.4rem;
    width: 2.4rem;
  }

  .dash-sidebar li span {
    font-size: 1.5rem;
    line-height: 1;
  }

  .active-dash-link::before {
    height: 120%;
    width: 4px;
  }

  .dash-section-head {
    font-size: 2rem;
    line-height: normal;
  }

  .cus-detail-container {
    border-radius: 1.25rem;
  }

  .profile-img-container {
    height: 10.5rem;
    width: 10.5rem;
  }

  .edit-profile-img {
    height: 3.2rem;
    width: 3.2rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .user-detail label {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .user-detail input,
  .user-detail textarea {
    font-size: 1.4rem;
    line-height: 1.5rem;
    border-radius: 3px;
    padding: 1.15rem 1.25rem;
  }

  .update-btn {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 500;
    padding: 1.25rem 2.5rem;
  }

  .price-list-table-container {
    border-radius: 0.75rem;
  }
}

@media only screen and (max-width: 80em) {
  .addresses-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }

  .add-btn {
    padding: 1rem;
    font-size: 1.6rem;
    gap: 0.75rem;
  }

  .add-btn span {
    font-size: 1.4rem;
  }

  .status-card {
    border-radius: 6px;
  }

  .card-label {
    font-size: 1.4rem;
  }

  .card-price {
    font-size: 1.6rem;
  }

  .booking-title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .dashboard-container {
    grid-template-columns: 22.5rem 1fr;
  }

  .cart-item {
    height: 2rem;
    width: 2rem;
    border-width: 0.5px;
  }

  .dash-sidebar li {
    padding: 0 0 0 2rem;
  }

  .dash-nav-link {
    gap: 1.25rem;
  }

  .dash-icons-container > * {
    height: 2.2rem;
    width: 2.2rem;
  }

  .dash-sidebar li span {
    font-size: 1.4rem;
  }

  .dash-section-head {
    font-size: 1.6rem;
  }

  .cus-detail-container {
    border-radius: 1rem;
  }

  .profile-img-container {
    width: 8.5rem;
    width: 8.5rem;
  }

  .edit-profile-img {
    height: 2.8rem;
    width: 2.8rem;
  }

  .user-detail input,
  .user-detail textarea {
    font-size: 1.4rem;
    line-height: 1.5rem;
    border-radius: 3px;
    padding: 1rem;
  }

  .price-list-table {
    border-radius: 0.75rem;
  }

  .rpp-label {
    font-size: 1.3rem;
  }

  .rpp-dropdown {
    font-size: 1.3rem;
    border-radius: 3px;
  }

  .price-list-table thead tr td:first-child {
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
  }

  .price-list-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .searc-input {
    width: 22rem;
    border-radius: 3px;
    padding: 1rem 3.5rem 1rem 1rem;
    font-size: 1.4rem;
    line-height: 1;
  }

  .search-icon {
    right: 1rem;
  }

  .price-list-table th,
  .price-list-table td {
    border: 0.5px solid #e0e3ec;
  }

  .price-list-table th {
    font-size: 1.3rem;
    padding: 1.2rem 1rem;
  }

  .price-list-table td {
    font-size: 1.3rem;
    padding: 1.2rem 2rem;
  }

  .current-page-num {
    font-size: 1.3rem;
    padding: 2rem;
  }

  .pagination-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
  }

  .page-num {
    font-size: 1.4rem;
    line-height: 1;
  }

  .addresses-container {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
  }

  .add-btn {
    padding: 0.75rem;
    font-size: 1.4rem;
    gap: 0.5rem;
  }

  .add-btn span {
    font-size: 1.2rem;
  }

  .status-card {
    border-radius: 5px;
    padding: 1.5rem 1rem;
  }

  .card-label {
    font-size: 1.2rem;
  }

  .card-price {
    font-size: 1.4rem;
  }

  .booking-title {
    font-size: 1.6rem;
  }

  .main-orders-container {
    border-radius: 0.75rem;
  }

  .orders-table thead tr {
    padding: 2.5px 0;
  }

  .orders-table thead th {
    padding: 0.8rem 1rem;
  }

  .orders-table tbody td {
    padding: 0.8rem 1rem;
  }
}

@media only screen and (max-width: 64em) {
  .dashboard-container {
    grid-template-columns: 20rem 1fr;
  }

  .cart-item {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.8rem;
    transform: translate(45%, -25%);
  }

  .active-dash-link::before {
    width: 3px;
  }

  .dash-nav-link {
    gap: 1rem;
  }

  .dash-icons-container > * {
    height: 2rem;
    width: 2rem;
  }
  .dash-sidebar li span {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .dash-section-head {
    font-size: 1.5rem;
  }

  .cus-detail-container {
    border-radius: 0.75rem;
  }

  .profile-img-container {
    height: 7.5rem;
    width: 7.5rem;
  }

  .edit-profile-img {
    height: 2.4rem;
    width: 2.4rem;
  }

  .user-detail label {
    font-size: 1.1rem;
  }

  .user-detail input,
  .user-detail textarea {
    font-size: 1.25rem;
    line-height: 1;
  }

  .update-btn {
    font-size: 1.25rem;
    padding: 1.15rem 2.3rem;
  }

  .price-list-table-container {
    border-radius: 0.5rem;
    box-shadow: none;
  }

  .orders-table thead tr,
  .orders-table tbody tr {
    grid-template-columns: 10rem 18rem 14rem 10rem 10rem 10rem 15rem 6rem 6rem 6rem;
  }
}

@media only screen and (max-width: 60.875em) {
  .price-list-table {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .price-list-table thead tr td:first-child {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  .price-list-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .rpp-label {
    font-size: 1.2rem;
  }

  .rpp-dropdown {
    font-size: 1.2rem;
    border-radius: 3px;
  }

  .searc-input {
    width: 20rem;
    border-radius: 3px;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    font-size: 1.2rem;
  }

  .search-icon {
    right: 0.75rem;
  }

  .updown-icon {
    height: 0.6rem;
    width: 0.6rem;
  }

  .price-list-table td,
  .price-list-table th {
    font-size: 1.2rem;
    padding: 1rem 0.8rem;
  }

  .current-page-num {
    font-size: 1.2rem;
    padding: 1.75rem;
  }

  .pagination-btn {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-num {
    font-size: 1.2rem;
  }

  .price-list-table thead tr,
  .price-list-table tbody tr {
    grid-template-columns: 0.4fr 0.6fr 0.8fr 0.8fr 0.6fr;
  }

  .addresses-container {
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  }
}

@media only screen and (max-width: 55em) {
  .dashboard-container {
    grid-template-columns: 17.5rem 1fr;
  }

  .profile-img-container {
    align-self: center;
  }

  .cus-detail-container {
    border-radius: 0.5rem;
  }

  .current-page-num {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 38.4375em) {
  .dashboard-container {
    grid-template-columns: 5rem 1fr;
  }

  .dash-logo {
    display: none;
  }

  .mobile-dash-logo {
    display: inline-block;
  }
  .dash-sidebar li {
    padding: 0 0 0 1.5rem;
  }

  .dash-nav-link {
    gap: 0;
  }

  .dash-nav-link span:last-child {
    display: none;
  }
}

@media only screen and (max-width: 27.5em) {
  .dashboard-container {
    grid-template-columns: 4.5rem 1fr;
  }

  .dash-sidebar li {
    padding: 0 0 0 1rem;
  }

  .addresses-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .current-page-num {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 20em) {
  .dashboard-container {
    grid-template-columns: 4rem 1fr;
  }
  .dash-section-head {
    font-size: 1.4rem;
  }

  .profile-img-container {
    width: 6rem;
    height: 6rem;
  }

  .edit-profile-img {
    height: 2rem;
    width: 2rem;
  }

  .user-detail label {
    font-size: 1rem;
  }

  .user-detail input,
  .user-detail textarea {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .update-btn {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .cart-item {
    height: 1.5rem;
    width: 1.5rem;
  }

  .dash-icons-container > * {
    height: 1.75rem;
    width: 1.75rem;
  }
}
