/* footer  */

.footer {
  color: var(--white);
  background-image: linear-gradient(
      rgba(22, 31, 95, 0.95),
      rgba(22, 31, 95, 0.95)
    ),
    url("/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-space {
  padding: 14rem 0;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  border-radius: 1.4rem;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4.5rem;
  width: 4.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
}

.social-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.sitemap-title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

.sitemap-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sitemap-list li {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 1px;
}

@media only screen and (max-width: 100em) {
  .footer-space {
    padding: 10rem 0;
  }

  .footer-logo {
    border-radius: 1rem;
  }

  .social-link {
    height: 4rem;
    width: 4rem;
  }

  .social-icon {
    height: 2rem;
    width: 2rem;
  }

  .sitemap-title {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 2.5rem;
  }

  .sitemap-list li {
    font-size: 1.6rem;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 83.75em) {
  .footer-space {
    padding: 8rem 0;
  }

  .social-link {
    height: 3.6rem;
    width: 3.6rem;
  }

  .sitemap-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    letter-spacing: 2.5px;
  }

  .sitemap-list li {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .footer-space {
    padding: 6rem 0;
  }

  .footer-logo {
    border-radius: 0.5rem;
  }

  .social-link {
    height: 3.2rem;
    width: 3.2rem;
  }

  .social-icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  .sitemap-title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
  }

  .sitemap-list {
    gap: 1rem;
  }

  .sitemap-list li {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 60.875em) {
  .footer-space {
    padding: 5rem 0;
  }
}

@media only screen and (max-width: 55em) {
  .footer-space {
    padding: 4rem 0;
  }

  .footer-logo {
    max-width: 22rem;
  }
}

@media only screen and (max-width: 38.4375em) {
  .footer-space {
    padding: 3.5rem 0;
  }

  .footer-logo {
    max-width: 17rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .footer-space {
    padding: 4rem 0;
  }

  .footer-logo {
    max-width: 13rem;
  }

  .social-link {
    height: 2.8rem;
    width: 2.8rem;
  }

  .social-icon {
    height: 1.4rem;
    height: 1.4rem;
  }

  .mobile-footer > * {
    border-radius: 5px;
    width: 30rem;
    place-self: center;
    padding: 1.5rem !important;
  }

  .sitemap-list {
    align-items: center;
  }

  .sitemap-title {
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .footer-space {
    padding: 3rem 0;
  }

  .mobile-footer > * {
    max-width: 29rem;
  }
}
