.login-form-container {
  width: 40rem;
  border: 1px solid rgba(131, 132, 138, 0.5);
  border-radius: 1rem;
  padding: 2.4rem 2.8rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.form-input {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  color: var(--black);
  width: 100%;
  border: 1px solid #83848a;
}

.form-input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
  color: #83848a;
}

.form-input:focus {
  border-color: #818cf8;
  border-color: rgb(37 99 235);
  outline: none;
}

.forget-link {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.75;
  color: #818cf8;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  width: 100%;
  color: white;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}

.error-label {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--secondary);
  padding-top: 0.5rem;
}

@media only screen and (max-width: 100em) {
  .login-form-container {
    width: 37.5rem;
  }

  .form-label {
    font-size: 1.4rem;
  }
}
