@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000;
  box-sizing: border-box;
}

:root {
  --primary-color: #161f5f;
  --light-blue-bg: #f0f2fa;
  --dark-white-bg: #f7f8fd;
  --white: #fff;
  --black: #000;
  --grey: #393B43;
}
