@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary: #161f5f;
  --secondary: #ff2e17;

  --black: #080914;
  --grey: #393b43;
  --white: #fff;

  --navbar: #f7f8fd;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000;
  box-sizing: border-box;
}

.toast {
  font-size: 1.4rem;
  color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-success {
  font-size: 1.4rem;
  color: var(--primary);
  box-shadow: 0 4px 8px rgba(22, 31, 95, 0.2);
}

.toast-error {
  font-size: 1.4rem;
  color: var(--secondary);
  box-shadow: 0 4px 8px rgba(255, 46, 23, 0.2);
}
