@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000;
  box-sizing: border-box;
}

:root {
  --light-blue-bg: #f0f2fa;
  --dark-white-bg: #f7f8fd;

  --grey: #393b43;
  --heading: #080914;

  --red: #ff2e17;

  --white: #fff;

  --bg: #f0f2fa;
  --primary: #161f5f;
  --black: #080914;
  --secondary: #ff2e17;

  --navbar: #f7f8fd;
}
