@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #000;
  box-sizing: border-box;
}

:root {
  --primary: #161f5f;
  --secondary: #ff2e17;

  --black: #080914;
  --grey: #393b43;
  --white: #fff;

  --navbar: #f7f8fd;
}
