/*****************/
/*  BELOW 1600px */
/*****************/

@media only screen and (max-width: 100em) {
  .container {
    padding: 0 6rem;
  }

  .navbar {
    gap: 2.4rem;
  }

  .navbar li {
    font-size: 1.8rem;
  }

  .login {
    font-size: 1.8rem;
    padding: 1rem 2.4rem;
  }
}

/*****************/
/*  BELOW 1340px */
/*****************/

@media only screen and (max-width: 83.75em) {
  .container {
    padding: 0 5rem;
  }

  .navbar {
    gap: 2.4rem;
  }

  .navbar li {
    font-size: 1.8rem;
  }
}

/*****************/
/*  BELOW 1280px */
/*****************/

@media only screen and (max-width: 80em) {
  .container {
    padding: 0 4rem;
  }

  .navbar {
    gap: 2rem;
  }

  .navbar li {
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
  }

  .login {
    font-size: 1.7rem;
    padding: 1.075rem 2.4rem;
  }
}
