@media only screen and (max-width: 100em) {
  .sr-list li {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .sr-list li::before {
    top: 0%;
    left: 0;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 83.75em) {
  .sr-list {
    gap: 3rem;
  }

  .sr-list li {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .sr-list li {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media only screen and (max-width: 80em) {
}

@media only screen and (max-width: 71.25em) {
  .sr-list li {
    padding-left: 2.75rem;
  }

  .sr-list li::before {
    background-color: black;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 99px;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(196, 70, 32, 0.821)
    );
  }

  .sr-list li {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

@media only screen and (max-width: 64em) {
}

@media only screen and (max-width: 60.875em) {
  .sm-services {
    width: 80%;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    backdrop-filter: blur(1px);
  }

  .sr-list {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 55em) {
  .sm-services {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(255, 0, 0, 0.5),
      transparent 0.1px
    );
    backdrop-filter: blur(1rem);
  }
  .floated-container h2 {
    font-size: 2.2rem;
    line-height: normal;
  }

  .sr-list li {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding-left: 2.4rem;
  }

  .sr-list li::before {
    height: 1.6rem;
    width: 1.6rem;
  }

  .sr-list {
    gap: 2rem;
  }
}

@media only screen and (max-width: 38.4375em) {
  .floated-container h2 {
    font-size: 1.8rem;
  }

  .sr-list li {
    font-size: 1rem;
    line-height: 1.4rem;
    padding-left: 2rem;
  }

  .sr-list li::before {
    height: 1.4rem;
    width: 1.4rem;
  }

  .sr-list {
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
}

@media only screen and (max-width: 20em) {
}
