.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.secondary-container {
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.tertiary-container {
  max-width: 192rem;
  padding: 0 15rem;
  margin: 0 auto;
}

.space-xl {
  padding: 7rem 0;
}

.section-space {
  padding: 7rem 0;
}

.star-psudo::before {
  content: "";
  display: inline-block;
  width: 16rem;
  height: 16rem;
  background-image: url("/star-icon2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translate(60%, -25%);
}

.btn {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.7rem 2.5rem;
  border-radius: 999px;
}

.btn-transparent {
  border: 1px solid red;
  background-color: transparent;
}

.primary-button {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.7rem 2.5rem;
  border-radius: 999px;
}

h1 {
  font-size: 6.8rem;
  font-weight: 600;
  line-height: 85px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--black);
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--black);
}

.para2 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #393b43;
}

.banner-title {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 700;
  color: var(--black);
}

.text-white {
  color: white;
}

/* Cart Style */

.cart-title {
  color: var(--primary);
  font-size: 2rem;
  line-height: normal;
  font-weight: 600;
  text-transform: capitalize;
  padding: 3rem;
  border-bottom: 1px solid #b9bccf4d;
}

.inc-dec-btn {
  display: inline-block;
  border: 0.5px solid #b9bccf;
  border-radius: 999px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--black);
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.indec-icon {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  stroke: #b9bccf;
}

.place-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.place-center p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: var(--black);
}

.place-center h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.1rem;
  color: var(--black);
}

.total-container p {
  font-weight: 700;
  color: var(--primary);
}

.total-container h5 {
  font-weight: 700;
  color: var(--secondary);
}

.line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #b9bccf4d;
}

.view-cart-btn {
  display: inline-block;
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--white);
  text-transform: capitalize;
  padding: 2.2rem 1.8rem;
  text-align: center;
  border-radius: 999px;
}

.cl-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 3.5rem 0;
}

.cl-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

/* forget related components css */

.forget-pass-container {
  min-width: 34rem;
  border: 1px solid #dbdfe9;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 2.4rem 3.4rem;
  padding-bottom: 4rem;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

.reset-password-container {
  min-width: 34rem;
  background-color: white;
  border: 1px solid #dbdfe9;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 2.4rem 2.8rem 2.6rem 2.8rem;
  border-radius: 4px;
}

.reset-password-container label {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.reset-password-container input:focus {
  outline: none;
}

.btn-2 {
  padding: 0.4rem 3.5rem;
}

.extra-pad {
  padding: 0.5rem 3rem;
}

.enter-mobile-container,
.enter-otp-container {
  min-width: 46rem;
  background-color: white;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.enter-mobile-container label {
  font-size: 1.4rem;
  font-weight: 500;
  align-self: flex-start;
}

.btn-sendotp {
  padding: 0.4rem 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.lock-icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  fill: var(--primary);
}

.enter-otp-container {
  padding: 3rem 0;
  min-width: 40rem;
  /* max-width: 41rem; */
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  /* border: 0.05px solid black; */
}

.enter-otp-container h2 {
  color: var(--black);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
}

.verify-btn {
  margin-top: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  width: 73%;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: white;
  font-weight: 700;
}

.forget-container {
  width: 32rem;
  padding: 2.4rem 3.2rem;
  border: 0.1px solid black;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  box-shadow: 3px 3px 6px 8px rgba(0, 0, 0, 0.05);
}

.cs-button {
  padding: 1rem 1.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.otp-text {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}

.new-box {
  border: none !important;
  font-size: 1.9rem;
}

.new-box:focus {
  outline: none;
}

/* Different Term and Polices section */

.policies-space {
  padding: 4rem 0 6rem 0;
}

.faq-heading {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 1.25;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  display: inline-block;
  padding: 2rem 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.policies-sub-heading {
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 800;
  color: var(--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4rem;

  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.tc-list li {
  padding-left: 3.5rem;
  letter-spacing: 0.4px;
  color: var(--primary);
  font-size: 1.8rem;
  line-height: 3.4rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}

.tc-list li::before {
  content: "✔";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1.4rem;
  color: white;
  background-color: #ffb81f;
  border-radius: 50%;
  position: absolute;
  top: 0.75rem;
  left: 2px;
}

@media only screen and (max-width: 100em) {
  .inc-dec-btn {
    font-size: 1.4rem;
    line-height: 1;
    gap: 0.75rem;
  }

  .cart-title {
    font-size: 1.8rem;
    padding: 2.5rem;
  }

  .place-center p {
    font-size: 1.6rem;
    line-height: 1.1;
  }

  .place-center h5 {
    font-size: 1.8rem;
    line-height: 1.1;
  }

  .view-cart-btn {
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.8rem 1.4rem;
  }

  .section-space {
    padding: 6.5rem 0;
  }

  .tertiary-container {
    padding: 0 12rem;
  }

  .star-psudo::before {
    width: 14rem;
    height: 14rem;
  }

  .banner-title {
    font-size: 5.2rem;
    line-height: 6.5rem;
  }

  .primary-button {
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
  }

  .para2 {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .faq-heading {
    font-size: 3.8rem;
    padding: 1rem 0;
  }

  .policies-space {
    padding: 3rem 0 5rem 0;
  }

  .policies-sub-heading {
    font-size: 2.8rem;
    line-height: 1.4;
    margin-bottom: 3rem;
  }

  .tc-list li {
    padding-left: 3rem;
    font-size: 1.6rem;
    letter-spacing: normal;
    line-height: 1.9;
  }

  .tc-list li::before {
    height: 2rem;
    width: 2rem;
    top: 0.55rem;
    left: 4px;
  }
}

@media only screen and (max-width: 90em) {
  .inc-dec-btn {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  .indec-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .place-center p {
    font-size: 1.4rem;
  }

  .place-center h5 {
    font-size: 1.6rem;
  }

  .view-cart-btn {
    font-size: 1.4rem;
    padding: 1.6rem 1.2rem;
  }

  .section-space {
    padding: 6rem 0;
  }

  .banner-title {
    font-size: 4.4rem;
    line-height: 5.9rem;
  }

  .primary-button {
    font-size: 1.7rem;
    padding: 1.4rem 1.9rem;
  }

  .star-psudo::before {
    width: 12rem;
    height: 12rem;
  }

  .para2 {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  .faq-heading {
    font-size: 3.2rem;
    letter-spacing: 0.5px;
    padding: 0.5rem 0;
  }

  .policies-space {
    padding: 2.5rem 0;
  }

  .policies-sub-heading {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }

  .tc-list li {
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.75;
  }

  .tc-list li::before {
    font-size: 1.2rem;
    height: 1.75rem;
    width: 1.75rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 83.75em) {
  .section-space {
    padding: 5rem 0;
  }

  .banner-title {
    font-size: 4rem;
    line-height: normal;
  }

  .primary-button {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }

  .para2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .star-psudo::before {
    height: 10rem;
    width: 10rem;
    transform: translate(75%, -25%);
  }
}

@media only screen and (max-width: 80em) {
  .faq-heading {
    font-size: 2.8rem;
    padding: 0;
  }

  .policies-sub-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .tc-list li {
    font-size: 1.4rem;
    padding-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 71.25em) {
  .banner-title {
    font-size: 3.4rem;
  }

  .primary-button {
    font-size: 1.4rem;
  }

  .star-psudo::before {
    height: 8rem;
    width: 8rem;
  }

  .para2 {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .section-space {
    padding: 4rem 0;
  }

  .faq-heading {
    font-size: 2.4rem;
  }

  .policies-space {
    padding: 2rem 0;
  }

  .policies-sub-heading {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .tc-list li {
    font-size: 1.3rem;
    padding-left: 2.5rem;
  }

  .tc-list li::before {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 64em) {
  .section-space {
    padding: 3.5rem 0;
  }
}

@media only screen and (max-width: 60.875em) {
  .section-space {
    padding: 3rem 0;
  }

  .banner-title {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .primary-button {
    font-size: 1.2rem;
    padding: 1.1rem 1.6rem;
  }

  .para2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .star-psudo::before {
    height: 6rem;
    width: 6rem;
  }

  .faq-heading {
    font-size: 2rem;
  }

  .policies-space {
    padding: 1.5rem 0;
  }

  .policies-sub-heading {
    font-size: 1.6rem;
    margin-bottom: 1.25rem;
  }

  .tc-list li {
    font-size: 1.2rem;
  }

  .tc-list li::before {
    font-size: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 55em) {
  .star-psudo::before {
    height: 5rem;
    width: 5rem;
    transform: translate(50%, -25%);
  }
}

@media only screen and (max-width: 38.4375em) {
  .section-space {
    padding: 2.5rem 0;
  }

  .banner-title {
    font-size: 2.4rem;
    line-height: 1.25;
  }

  .primary-button {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
  }

  .star-psudo::before {
    display: none;
  }

  .faq-heading {
    font-size: 1.8rem;
  }

  .policies-sub-heading {
    display: none;
  }

  .tc-list li {
    padding-left: 2.25rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .section-space {
    padding: 2rem 0;
  }

  .banner-title {
    font-size: 2rem;
  }

  .primary-button {
    padding: 0.75rem;
  }
}

@media only screen and (max-width: 20em) {
}
