.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 8rem;
}

/* headline */

.bg-light-blue {
  background-color: var(--light-blue-bg);
}

.headline-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: var(--black);
}

/* navbar */

.navbar {
  display: flex;
  gap: 3.2rem;
}

.navbar li {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: var(--primary);
  letter-spacing: normal;
  padding-bottom: 2px;
  transition: all 0.3s;
  border-bottom: 4px solid transparent;
}

.navbar li:hover {
  border-color: var(--red);
}

.login {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.075rem 3rem;
  border-radius: 999px;
}

/* Refectoring all css */

.secondary-container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.section-space {
  padding: 7rem 0;
}

.footer-container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 14.8rem 15rem;
}

.full-width {
  max-width: 192rem;
  margin: 0 auto;
}

.pr-none {
  padding-right: 0;
  padding-bottom: 11.1rem;
}

.text-white {
  color: white;
}

.btn {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary-color);
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.7rem 2.5rem;
  border-radius: 999px;
}

.apply-btn {
  background-color: #b9bccf;
  font-size: 1.8rem;
  line-height: 2rem;
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 999px;
}

.btn-transparent {
  border: 1px solid red;
  background-color: transparent;
}

h1 {
  font-size: 6.8rem;
  font-weight: 600;
  line-height: 85px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--heading);
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--heading);
}

.paragraph {
  font-size: 2.2rem;
  color: var(--grey);
  font-weight: 500;
}

.content {
  font-size: 1.8rem;
  letter-spacing: normal;
  line-height: 1.5;
  font-weight: 500;
  color: var(--grey);
}

.section-title {
  font-size: 2rem;
  color: var(--red);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bg-dark-white {
  background-color: var(--dark-white-bg);
}

.primary {
  color: var(--primary-color);
}

/* home  - banner */

.main-banner-container {
  background-color: #f7f8fd;
}

.full-width {
  max-width: 192rem;
  position: relative;
}

.inner-banner-container {
  min-height: 83.4rem;
  width: 50%;
}

.inner-banner-container h1 {
  color: #080914;
  font-weight: 600;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}

.inner-banner-container p {
  max-width: 40rem;
  color: #393b43;
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
}

.pagination-container {
  color: #9c9da1;
  font-size: 3rem;
  line-height: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dots > * {
  display: inline-block;
  /* height: 4px;
  width: 4rem; */
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #9c9da1;
}
.active-dot {
  background-color: red;
}

.banner-img-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  z-index: 3;
}

.banner-img {
  display: inline-block;
  width: 56.8rem;
  height: auto;
}

.rectange-shape {
  display: inline-block;
  height: auto;
  width: 67.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.ellipse-img {
  position: absolute;
  top: -7.75rem;
  right: 0;
  z-index: 1;
}

/* home - why choose us */

.card {
  border: 1px solid var(--white);
  border-radius: 1rem;
  padding: 5rem;
}

.card-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.card-description {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  line-height: 2.8rem;
}

/* home - benefits */

.laundry-image {
  height: auto;
  max-width: 65.9rem;
}

.caption {
  color: #1b1850;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.8rem;
  margin-top: 4rem;
}

/* home - testimonials */

.review-count {
  background-color: #eff3ff66;
  border-radius: 1rem;
  padding: 2rem;
}

.review-count span {
  font-size: 4rem;
  color: #1b1850;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.review-count p {
  font-size: 2rem;
  line-height: 2rem;
  color: #ff2e17;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 1rem;
}

.review-container {
  background-color: rgba(239, 243, 255, 1);
  min-width: 48.9rem;
  border-radius: 3rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-container h4 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.8rem;
}

.review-container p {
  font-size: 2rem;
  font-weight: normal;
  line-height: 3.2rem;
}

.testimonials-scroll::-webkit-scrollbar {
  height: 1rem;
  background-color: #f0f0f0;
}

.testimonials-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.testimonials-scroll::-webkit-scrollbar-thumb {
  display: inline-block;
  height: 2rem;
  width: 40px;
  background-color: var(--primary-color);
}

/* home - download */

.download {
  border-radius: 2rem;
  display: flex;
  z-index: -100;
}

.download h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.6rem;
}

.download p {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  margin: 2rem 0;
}

.mobile {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.mobile-bg {
  position: absolute;
  bottom: 0.5rem;
  right: 10.1rem;
  z-index: 1;
}

/* footer */

.footer-container {
  /* background-image: url("./footer-bg.png");
  background-size: cover;
  background-position: center; */
  background-color: black;
}

.sitemap-title {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

.sitemap-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sitemap-list li {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 1px;
}

/* about */

.banner-title {
  font-weight: 600;
  font-size: 6rem;
  line-height: 8rem;
  color: #080914;
}

.para2 {
  font-size: 2.2rem;
  line-height: 3.4rem;
  font-weight: normal;
}

.para2:not(:last-child) {
  margin-bottom: 4rem;
}

.status-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.year {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4rem, -50%);
}

.timeline-text {
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  letter-spacing: 0.2rem;
}

.active-time {
  color: red;
  -webkit-text-stroke: 0px;
  position: relative;
}

.active-time::before {
  content: "";
  display: inline-block;
  height: 6rem;
  width: 1px;
  background-color: red;

  position: absolute;
  top: -125%;
  left: 49%;
}

/* services - commercial laundry */

.cl-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 3.5rem 0;
}

.cl-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

/* contact us - form */

.contact-form-container {
  border-radius: 3rem;
  background-color: #eff3ff;
  padding: 7rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.contact-form-container::before {
  content: "";
  display: inline-block;
  height: 37.5rem;
  width: 37.5rem;
  background-image: url("/circel-star.png");
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%, -10%);
  z-index: -1;
}

.contact-form input,
.contact-form textarea {
  padding: 2.25rem 1.5rem;
  border-radius: 1rem;
  font-size: 2.1rem;
  line-height: 2.1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: inherit;
  font-size: 2.1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  outline: 1.5px solid rgba(51, 51, 51, 0.4);
}

/* Prices - priceList */

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 600;
  padding: 1.5rem 3.2rem;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 999px;
  letter-spacing: 2px;
}

.card-service-list li {
  padding-left: 4rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: normal;
  position: relative;
}

.card-service-list li::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-image: url("/Checked.png");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* corporate services - serviceList */

.sm-services {
  background-color: rgb(219 234 254);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
}

.sr-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sr-list li {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 600;
  padding-left: 5rem;
  position: relative;
}

.sr-list li::before {
  content: "";
  display: inline-block;
  background-image: url("/styled-bullet.png");
  height: 3rem;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Choose your services */

.section-services {
  padding: 13rem 0 2rem 0;
}

.section-services h1 {
  color: #fff;
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
}

.section-services h4 {
  color: #b9bccf;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.service-container {
  padding-bottom: 0.5rem;
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
  padding: 8px 1rem;
  border-radius: 8px;
}

.service-container:hover {
  /* border-color: #ff2e17; */
  background-color: cyan;
}

/* select cloths */

.select-clothes-container {
  border: 1px solid #b9bccf4d;
  border-radius: 4px;
  padding: 5rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.service-title {
  font-size: 2rem;
  line-height: 2.42rem;
  color: #080914;
  font-weight: 600;
}

.category-tags {
  padding: 1.5rem 3rem;
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #b9bccf;

  border: 1px solid #b9bccf;
  border-radius: 3px;
  transition: all 0.3s;
}

.category-tags:hover {
  color: #ff2e17;
  border-color: #ff2e17;
}

.cat-item-container {
  background-color: #f7f8fd;
  border-radius: 4px;
  padding: 1.2rem;
}

.cat-item-name {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2rem;
  color: #080914;
  padding-bottom: 1rem;
}

.cat-item-price {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.add-btn {
  display: inline-block;
  border: 1px solid #161f5f;
  border-radius: 999px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #ff2e17;
  padding: 1.1rem 3.3rem;
}

.inc-dec-btn {
  display: inline-block;
  border: 1px solid #b9bccf;
  border-radius: 999px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--black);
  padding: 1.1rem 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
/* filter */

.filter {
  border: 1px solid #b9bccf4d;
  border-radius: 4px;
  padding: 5rem 3rem;
}

.text-filters {
  text-transform: capitalize;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
}

.text-clear {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #ff2e17;
}

.dd-title {
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #687182;
  text-transform: capitalize;
}

.filter-dd {
  border: 1px solid #eff3ff;
  border-radius: 5px;
  display: inline-block;
  padding: 1.8rem 0.9rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.selected-clothes {
  display: inline-block;
  background-color: #b9bccf4d;
  text-transform: capitalize;
  padding: 1rem;
  border-radius: 0.8rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-price {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #080914;
  font-weight: 600;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  height: 1rem;
  background: #b9bccf4d;
  position: relative;
  border-radius: 99px;
  outline: none;
}

/* .input-range::before {
  content: "";
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
} */

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  background-image: url("/dot.png");
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s;
}

.card-container {
  border: 1px solid #b9bccf4d;
  border-radius: 4px;
}

.cart-title {
  color: #161f5f;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 3rem;
  border-bottom: 1px solid #b9bccf4d;
}

.subtotal-container,
.shipcharge-container,
.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal-container p,
.shipcharge-container p,
.total-container p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: #080914;
}

.total-container p {
  font-weight: 700;
}

.subtotal-container h5,
.shipcharge-container h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #080914;
}

.total-container h5 {
  font-weight: 700;
  color: #ff2e17;
}

.line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #b9bccf4d;
}

.view-cart-btn {
  display: inline-block;
  background-color: #161f5f;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  padding: 2.3rem 2rem;
  text-align: center;
  border-radius: 999px;
}

.coupon-container {
  margin-top: 3rem;
  border: 1px solid #b9bccf4d;
  border-radius: 4px;
  padding: 3rem;
}

.dis-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #080914;
  font-weight: 600;
}

.dis-price {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: normal;
  color: #687182;
}

.view-more {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #161f5f;
  font-weight: 600;
}

/* new styles */

.section-coupon {
  padding: 7rem 0;
}

.section-services,
.section-welcometo,
.section-easy-steps {
  padding: 4rem 0 7rem 0;
}

/* cart */

.section-cart {
  padding: 4rem 0;
}

.cart-table {
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #b9bccf4d;
}

.cart-table thead {
  background-color: #f7f8fd;
}

.cart-table th {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  color: #687182;
  text-transform: capitalize;
  padding: 2.1rem;
}

.cart-table tbody tr {
  border: 1px solid #b9bccf4d;
}

.cart-table tbody tr td {
  padding: 2rem;
}

/* cart component */

.cart-sub-title {
  font-weight: 600;
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.address-btn {
  border-radius: 999px;
  border: 1.5px solid var(--primary);
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.address-btn span {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--primary);
}

.bg-filter {
  backdrop-filter: blur(10 px);
}

.del-edit-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

.three-dots {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.three-dots span {
  display: inline-block;
  height: 3.5px;
  width: 3.5px;
  border-radius: 50%;
  background-color: var(--black);
}

.del-edit-menu:hover .shortcut {
  display: block;
}

.shortcut {
  display: none;
  position: absolute;
  top: -1px;
  right: -1px;

  background-color: white;
  font-size: 1.4rem;
  border-radius: 0.2rem;
}

.shortcut li {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}
.shortcut li:last-child {
  margin-top: 0.5rem;
}

.shortcut li:hover {
  color: rgb(138, 43, 226, 0.8);
}

/* forget password */

.enter-mobile-container,
.enter-otp-container {
  min-width: 46rem;
  background-color: white;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.enter-mobile-container label {
  font-size: 1.4rem;
  font-weight: 500;
  align-self: flex-start;
}

.btn-sendotp {
  padding: 0.4rem 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.lock-icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  fill: var(--primary);
}

.enter-otp-container {
  padding: 3rem 0;
  min-width: 40rem;
  /* max-width: 41rem; */
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  /* border: 0.05px solid black; */
}

.enter-otp-container h2 {
  color: var(--black);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
}

.boxes {
  display: flex;
  gap: 1rem;
}

.box {
  display: inline-block;
  border-radius: 4px;
  border: 2px solid rgb(147 197 253);
  height: 4rem;
  width: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.verify-btn {
  margin-top: 1rem;
  font-size: 1.8rem;
  display: inline-block;
  width: 73%;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  color: white;
  font-weight: 700;
}

/* new login signup form styles */

.forget-container {
  width: 32rem;
  padding: 2.4rem 3.2rem;
  border: 0.1px solid black;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  box-shadow: 3px 3px 6px 8px rgba(0, 0, 0, 0.05);
}

.cs-button {
  padding: 1rem 1.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.otp-text {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}

.enter-mobile-container {
  min-width: 32rem;
  border: 1px solid #dbdfe9;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.4rem;
  padding-bottom: 4rem;
  border-radius: 4px;
  text-align: center;
}

.forget-link {
  display: inline-block;
  text-transform: capitalize;
  color: #6b7280;
  font-weight: 500;
  margin-bottom: 5rem;
}

.verify-text {
  font-weight: normal;
}

.verify-text2 {
  color: #9ca3af;
  font-size: 1.4rem;
  padding-top: 0.6rem;
}

.otp-boxes-container {
  margin-top: 2rem;
  background-color: #f3f4f6;
  border-radius: 0.8rem;
  padding: 2.5rem 2rem;
  padding-bottom: 3rem;
}

.enter-otp-container {
  padding: 3rem 0;
  min-width: 39rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  border: 1px solid #dbdfe9;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
}

.new-box {
  border: none !important;
  font-size: 1.9rem;
}
.new-box:focus {
  outline: none;
}

.new-verift-button {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  background-color: var(--primary);
  padding: 0.8rem 2.4rem;
  border-radius: 99rem;
}

/* forms css */

/* login */

.login-form-container {
  width: 34rem;
  border: 1px solid #dbdfe9;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 2.4rem 2.8rem;
  padding-bottom: 4rem;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
}

.signup-form-container {
  width: 62rem;
  border: 1px solid #dbdfe9;
  padding: 2.4rem 2.8rem;
  padding-bottom: 4rem;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
}

.forget-pass-container {
  min-width: 34rem;
  border: 1px solid #dbdfe9;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 2.4rem 3.4rem;
  padding-bottom: 4rem;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

.reset-password-container {
  min-width: 34rem;
  background-color: white;
  border: 1px solid #dbdfe9;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 2.4rem 2.8rem 2.6rem 2.8rem;
  border-radius: 4px;
}

.reset-password-container label {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.reset-password-container input:focus {
  outline: none;
}

.btn-2 {
  padding: 0.4rem 3.5rem;
}

.extra-pad {
  padding: 0.5rem 3rem;
}

.logout-container {
  background-color: white;
  position: absolute;
  top: 100%;
  right: 0;
  max-width: 13rem;
  border: 1px solid #b9bccf4d;
  border-radius: 4px;
  padding: 0.9rem 1.8rem;
  margin-top: 0.8rem;
}

.logout-container::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-image: url("/triangle.png");
  background-size: cover;
  position: absolute;
  top: -0.9rem;
  right: 1.2rem;
  border-radius: 4px;
  filter: invert(87%);
  z-index: -10;
}

.logout-container::after {
  content: "";
  display: inline-block;
  height: 1.2px;
  width: 9.5px;
  background-color: white;
  position: absolute;
  top: -1px;
  right: 1.72rem;
}

.logout {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--black);
  color: #676788;
  text-transform: capitalize;
  font-weight: 600;
}

.order-container {
  max-width: 54rem;
  padding: 3.2rem;
  border-radius: 8px;
  border: 1px solid #dbdfe9;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.1);
}

.edit-profile-img {
  height: 3.6rem;
  width: 3.6rem;
  background-color: var(--red);
  border-radius: 50%;

  position: absolute;
  bottom: 0;
  right: 0;
}

.user-detail label {
  align-self: flex-start;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #687182;
  text-transform: capitalize;
  font-weight: normal;
}

.user-detail input,
.user-detail textarea {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: var(--black);
  border-radius: 4px;
  padding: 1.1rem 1.6rem;
}

.update-btn {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1.4rem 3rem;
  border-radius: 999px;
}

.cus-detail-container {
  background-color: white;
  border: 1px solid #b9bccf4d;
  border-radius: 0.8rem;
}

.new-address-btn {
  border: 1px solid var(--primary);
  padding: 1.2rem 1.6rem;
}

.new-address-btn span {
  font-weight: 500;
}

.rating-star-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.star {
  display: inline-block;
  height: 4.6rem;
  width: 4.6rem;
}

.submit-review {
  display: inline-block;
  line-height: normal;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 999px;
}

/* refactoring current component css - dashboard */

.dashboard-container {
  max-width: 144rem;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0 auto;
  border-left: 1px solid #b9bccf4d;
  border-right: 1px solid #b9bccf4d;
}

/* dashboard */

.dash-logo {
  display: inline-block;
  max-width: 28rem;
  height: auto;
  border-bottom: 1px solid #b9bccf4d;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  z-index: 99;
  background-color: var(--red);

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(48%, -30%);
}
.dash-sidebar li {
  display: inline-block;
  list-style: none;
  margin: 0 4rem;
}

.dash-icons-container > * {
  display: inline-block;
  height: 2.6rem;
  width: 2.6rem;
  fill: #b9bccf;
  transition: all 0.2s;
}

.dash-sidebar li span {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #b9bccf;
  transition: all 0.1s;
  font-weight: 500;
}

.dash-nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  transition: all 0.2s;
}

.dash-nav-link:hover .dash-icons-container > * {
  fill: var(--primary);
}

.dash-nav-link:hover > span {
  color: var(--primary);
}

.active-icons-clr > * {
  fill: var(--primary) !important;
}

.active-label {
  color: var(--primary) !important;
}

.datepicker-container input {
  max-width: 10rem;
  min-width: 10rem;
  display: inline-block;
  padding: 1.3rem 0 1.3rem 1.3rem;
}

.datepicker-container button svg {
  fill: var(--primary);
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.status-card {
  flex-basis: 32%;
  border-radius: 6px;
  background-color: white;
  padding: 1.5rem;
}

.card-label {
  color: #687182;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

.card-price {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 500;
}

.dash-section-head {
  color: var(--primary);
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.cus-detail-container {
  background-color: white;
  border: 1px solid #b9bccf4d;
  border-radius: 0.8rem;
}

.profile-img-container {
  display: inline-block;
  height: 12rem;
  width: 12rem;
}

/* price list view */

.price-list-table {
  cursor: default;
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 0.8rem;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-list-table th {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
  color: #676788;
  padding: 1.2rem;
}

.price-list-table td {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  color: var(--black);
}

.price-list-table th,
.price-list-table td {
  border: 1px solid #e0e3ec;
}

/* order history */

.booking-title {
  font-size: 1.8rem;
  line-height: 2rem;
  color: var(--primary);
  font-weight: 600;
}

.orders-table-container {
  background-color: white;
  border-radius: 8px;
  height: auto;
  overflow: hidden;
}

.orders-table {
  width: 100%;
  text-align: center;
  table-layout: auto;
}

.orders-table thead tr,
.orders-table tbody tr {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1.3fr 1fr 0.8fr 1fr 1fr 0.5fr;
}

.orders-table thead th {
  font-size: 1.2rem;
  padding: 1.2rem 2.2rem;
  text-transform: uppercase;
  color: #676788;
  font-weight: 500;
  background-color: rgba(46, 183, 211, 0.268);
}

.orders-table tbody td {
  font-size: 1.2rem;
  padding: 1.3rem 2.2rem;
  text-transform: uppercase;
  color: #676788;
  font-weight: 400;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f7f8fd;
}

.current-page-num {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #676788;
  padding: 2.2rem;
}

.pagination-btn {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  border: 1px solid #b9bccf4d;
  text-align: center;
  border-radius: 8px;
}

.page-icon {
  display: inline-block;
  fill: #676788;
}

.page-num {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #676788;
  font-weight: 500;
}

.active-page {
  border-color: var(--primary);
  background-color: var(--primary);
}

.active-page .page-num {
  color: white;
}

.active-page .page-icon {
  fill: white;
}

.border-transparent {
  border-color: transparent;
}

.updown-icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  fill: #b9bccf;
}


.info-login-container {
  width: 26rem;
  background-color: white;
  border-radius: 8px;
  padding: 2.8rem;
  
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
