/* ServiceList */

.full-width {
  max-width: 192rem;
  margin: 0 auto;
}

.sm-services {
  background-color: rgb(219 234 254);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.sr-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sr-list li {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 600;
  padding-left: 5rem;
  position: relative;
}

.sr-list li::before {
  content: "";
  display: inline-block;
  background-image: url("/styled-bullet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.floated-container {
  max-width: 135rem;
  height: auto;
  margin: 0 auto;
}

.corporate-tc-link {
  display: inline-block;
  text-align: center;
  font-size: 2.2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 100em) {
  .sr-list {
    gap: 3rem;
  }

  .sr-list li {
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding-left: 4.25rem;
  }

  .sr-list li::before {
    top: 10%;
    transform: translateY(0%);
    height: 2.5rem;
    width: 4rem;
  }

  .corporate-tc-link {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 0.5px;
  }
}

@media only screen and (max-width: 83.75em) {
  .sm-services {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .sr-list li {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 4rem;
    font-weight: 500;
  }

  .sr-list li::before {
    height: 2rem;
    width: 3.5rem;
  }

  .corporate-tc-link {
    font-size: 1.8rem;
    letter-spacing: 0.25px;
  }
}

@media only screen and (max-width: 71.25em) {
  .sm-services {
    width: 80%;
  }

  .sr-list {
    gap: 2.5rem;
  }

  .sr-list li {
    padding-left: 3rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .sr-list li::before {
    height: 1.5rem;
    width: 3rem;
  }

  .corporate-tc-link {
    font-size: 1.6rem;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 60.875em) {
  .sr-list {
    gap: 2rem;
  }

  .sr-list li {
    font-size: 1.2rem;
    line-height: 1.75;
    padding-left: 2.5rem;
  }

  .sr-list li::before {
    height: 1.5rem;
    width: 2rem;
  }

  .corporate-tc-link {
    font-size: 1.4rem;
  }

  .sm-services {
    width: 80%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}

@media only screen and (max-width: 55em) {
  .sr-list li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding-left: 2.4rem;
  }

  .sr-list li::before {
    top: 5%;
  }

  .sr-list {
    gap: 2rem;
  }

  .corporate-tc-link {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 38.4375em) {
  .sm-services {
    position: static;
    width: 100%;
    border-radius: 0.5rem;
  }
}

@media only screen and (max-width: 27.5em) {
  .sm-services {
    border-radius: 0.25rem;
  }
}
